/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

/* header */

.logo {
  padding: 15px 0px 0px 15px;
}

.line {
  font-style: normal;
  font-size: 40px;
  display: inline-block;
}

.primo-box {
  height: 80px;
  width: 100%;
  background-color: white;
}

/* Main */

.altrobottone-contenitore {
  height: 30px;
  width: 100px;
  margin-left: 5px;
  border-radius: 8px;
  border: 1px solid gray;
  color: grey;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}

.bottone-contenitore {
  height: 30px;
  width: 80px;
  background-color: aqua;
  border-radius: 8px;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 25px;
  display: inline-block;
}


.contenitore-box {
  width: 1000px;
  height: 1000px;
  background-color: white;
  margin: 40px auto;
  border-radius: 8px;
  padding: 20px;
}