/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

/* header */

.logo {
  height: 50px;
  padding: 0;
}

.line {
  font-style: normal;
  font-size: 40px;
  display: inline-block;
}

.primo-box {
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

/* Utili */

.inlinea {
  display: inline-block;
}

.spostaretutto {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

/* Main */

.cerchio {
  width: 20px;
  height: 20px;
  border: 2px solid green;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.divisore {
  border-top: 1px solid;
  width: 100%;
  margin-top: 10px;
}


.altrobottone-contenitore {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid gray;
  color: grey;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}

.bottone-contenitore {
  height: 30px;
  width: 80px;
  background-color: aqua;
  border-radius: 8px;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 25px;
  display: inline-block;
}


.contenitore-box {
  width: 1000px;
  height: 1000px;
  background-color: white;
  margin: 40px auto;
  border-radius: 8px;
  padding: 0px;
}